body {
    padding: 0;
    margin: 0;
}

.calculator-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "result"
        "symbols"
        "numeric-pad";
}

.result-container {
    grid-area: result;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". . . res";
}
.result {
    grid-area: res;
}

.first-row {
    grid-area: symbols;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "s1 s2 s3 s4";
}
.s1 {
    grid-area: s1;
}
.s2 {
    grid-area: s2;
}
.s3 {
    grid-area: s3;
}
.s4 {
    grid-area: s4;
}

.numeric-table {
    grid-area: numeric-pad;
}
