* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    margin: 100px auto;
    width: 1000px;
    height: 500px;
    border-radius: 20px;
}

.calc-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    background-color: #899DAD;
}

.display,
.symbols,
.numbers,
.uguale {
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px;
}

.grid-container button {
    gap: 10px;
    border: none;
    padding: 20px;
}

.uguale {
    grid-row: 2/ span 4;
    grid-column: 4/5;
    background-color: #F2727D;
}

.numbers {
    background-color: #EFF2F5;
}

.symbols {
    background-color: #D2DCE3;
}

.display {
    background-color: #485459;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding: 10px;
}